[Unit]
Description=fd.io Honeycomb
Wants=vpp.service
After=vpp.service

[Service]
ExecStart=/opt/honeycomb/honeycomb

[Install]
WantedBy=multi-user.target
